In [1]:
print('hello cruel world')

hello cruel world

In [2]:
ls

3c6.gif                     new_blog_roll.html
404.html                    old_blog_table_page.html
83453.jpg                   pastebin.html
blog/                       README.md
blog.html                   README.md.backup
cant_find_it.html           Selection_789.png
cat.gif                     Selection_790.png
CNAME                       Selection_792.png
happy_day_of_week_view.png  Selection_793.png
h_correlations.png          Selection_795.png
img/                        Selection_861.png
IMG-5317.jpg                soup.gif
index.html                  styles.css
ipynb_files/                temp/
mcTophGSpider_spider.py     Untitled.ipynb
new_blog.html               workflow_blogroll_new_design.ipynb
new_blog_page.html          workflow_current.ipynb

In [9]:
:ls /home/face/data/five_thirty_eight_data_repo/data/terrorism/

country_stats_1993_appendix2.csv        france_fatalities.png
eu_fatalities_by_country.png            france_terrorism_fatalities_by_year.csv
eu_fatalities.png                       GTD_Codebook_2015Final.pdf*
eu_terrorism_fatalities_by_country.csv  paris_terror_analysis.R
eu_terrorism_fatalities_by_year.csv     README.md

In [14]:
import pandas as pd
tr = '/home/face/data/five_thirty_eight_data_repo/data/terrorism/eu_terrorism_fatalities_by_country.csv'
tr = pd.read_csv(tr)
tr.head()

,iyear,Belgium,Denmark,France,Germany,Greece,Ireland,Italy,Luxembourg,Netherlands,Portugal,Spain,United Kingdom
0,1970,0,0,0,0,2,1,0,0,0,0,0,20
1,1971,0,0,0,0,0,1,0,0,0,0,0,110
2,1972,0,0,1,0,0,6,1,0,0,0,2,368
3,1973,0,0,5,0,5,4,62,0,1,0,6,210
4,1974,0,0,3,0,92,34,26,0,1,0,19,234

In [16]:
tr.shape

(45, 13)

In [31]:
num'iyear'].loc[0:4][1].split()

1    1971
2    1972
3    1973
4    1974
Name: iyear, dtype: int64